body {
   padding: 0;
   margin: 0;
}
/* header */
header {
   text-align: center;
   text-transform: uppercase;
   margin: 3em 0;
}

#header {
   display: block;
}

.nav {
   padding: 0;
   margin: auto;
   font-family: Arial;
   display: flex;
   width: 100%;
   background-color: rgba(100, 148, 237, 0.164);
   justify-content: space-between;
}

.nav > div {
   font-family: Arial;
   display: flex;
}

ul,
ol {
   list-style: none;
}

.nav div > li {
   float: left;
   box-sizing: border-box;
   border: 1px solid rgb(228, 225, 225);
}

.nav li a {
   background-color: rgb(235, 51, 51);

   color: #fff;
   text-decoration: none;
   padding: 20px 3em;
   display: block;
}

.nav li a:hover {
   background-color: #434343;
}

.nav li ul {
   display: none;
   position: absolute;
   min-width: 10px;
}

.nav li:hover > ul {
   display: block;
}

.nav li ul li {
   position: relative;
}

.nav li ul li ul {
   right: -10px;
   top: 0px;
}

/* GRID */

.grid-container {
   width: 95%;
   margin: auto;
   display: flex;
   justify-content: center;
   align-content: center;
   border: 1px solid black;
   background-color: rgba(17, 40, 145, 0.123);
   margin-bottom: 5em;
}

.grid-section {
   width: 80%;
}

aside{
   width: 20%;
   padding: 1em;
   background-color: #004669;
   color: white;
   text-align: center;
}

.grid-row {
   padding: 2em;
   margin-bottom: 1em;
   font-size: 1.2em;
   text-align: justify;
}

/* IMG */
.image {
   display: block;
   text-align: center;
}

.img-fluid {
   width: 50%;
   margin: auto;
}

/* footer */
footer {
   background-color: rgb(228, 225, 225);
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(255, 30, 30);
   color: white;
   text-align: center;
}
footer ul {
   display: flex;
   justify-content: center;
   padding: 0;
   margin: 0;
}

footer ul li {
   padding: 1em;
}

h2, h3{
   margin-top: 0;
}

aside p{
   font-size: 2px;
}

/* autor */
.panel-info{
   text-align: center;
}